Q1. How do you comment code in Python? What are the different types of comments?

In Python comments are lines of code that are not executed or interpreted by the Python interpreter.
You can add comments to your code to provide explanations.

There are Two types of comment:
1. Single-line comments :- Single-line comments are used to add comments on a single line. They start with the # character
     for example: #this is example of single line comment

2. Multi-line comment:-  Multi-line comments are used to comments multiple lines. start with three single or double '''  and end with three '''
    for example:-  '''this my
                        new multiple
                        comment'''

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are used to store and refer to data values. They serve as named placeholders in memory 
that hold values of different types such as numbers, strings or lists

declare variable:-
   name_var = data
   
for ex:-
name = "shubham" (this is string)
age = 25 (int)
weight = 71.5 (float)

Q3. How do you convert one data type to another in Python?

In [2]:
num_to_str = str(20)  # Converts the integer 20 to a string "20"
type(num_to_str)

str

Q4. How do you write and execute a Python script from the command line?

Steps
1. Open a text editor and write Python code and save the file with a .py extension
2. Open commandline go to the directory where you save the file.
3 .Execute the file with is command "python3 file_name.py"

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [3]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

 A complex number is a number of the form a + bi, where a and b are real numbers, and i is the imaginary unit
 for example:- (4+5j)
 where 4 and 5 is real number and j is imaginary.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [4]:
age = 25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [6]:
#Data type of variable name price is float
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [7]:
name = "Shubham Kumar"
print(name)

Shubham Kumar

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
string = "Hello, World"
sub_string = string[7:12]
sub_string

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [11]:
is_student = True
is_student

True